<%= form_tag login_path, class: 'login-form' do %>
  <div class="row">
    <div class="one-third column">
      <%= label_tag :email %>
      <%= email_field_tag :email, params[:email], class: 'u-full-width', placeholder: 'that you used to register', autofocus: true %>

      <%= label_tag :password %>
      <%= password_field_tag :password, params[:password], class: 'u-full-width', placeholder: 'to authenticate you' %>

      <%= submit_tag 'Log in', class: 'button-primary' %>
    </div>

    <div class="two-thirds column">
      <h2>Welcome back.</h2>

      <p>
        Connect with your friends — and other fascinating people. Get
        in-the-moment updates on the things that interest you. And watch events
        unfold, in real time, from every angle.
      </p>
  </div>
<% end %>
