<div class="home-welcome">
  <h1>Your social network, private.</h1>

  <%= link_to 'Register now', register_path, class: 'button button-primary' %>

  <div class="row values">
    <div class="one-third column">
      <h4>No bullshit</h4>

      <p>
        We are not here to fool you, this social network is
        <%= link_to 'yours', no_bullshit_path %>.
      </p>
    </div>

    <div class="one-third column">
      <h4>No monetizing</h4>

      <p>
        We do not make money with your
        <%= link_to 'personal information', no_monetizing_path %>,
        period.
      </p>
    </div>

    <div class="one-third column">
      <h4>No surveillance</h4>

      <p>
        Everything is <%= link_to 'encrypted', no_surveillance_path %>, with a
        <%= link_to 'distributed', no_surveillance_path %> architecture.
      </p>
    </div>
  </div>
</div>
