<div class="row timeline-content">
  <div class="four columns profile">
    <div class="timeline-profile">
      <h5>
        <%= current_user.username %>

        <small>@<%= current_user.username %></small>
      </h5>

      <table class="u-full-width">
        <thead>
          <tr>
            <th>Tweets</th>
            <th>Following</th>
            <th>Followers</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= current_user.tweets_count %></td>
            <td>80</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="timeline-trends">
      <h5>Global Trends</h5>
    </div>
  </div>

  <div class="eight columns">
    <%= form_for @tweet do |f| %>
      <%= f.text_area :content, class: 'u-full-width', placeholder: 'What\'s happening?' %>
      <%= f.submit 'Tweet', class: 'button-primary' %>
    <% end %>

    <h4>While you were away&#8230;</h4>

    <% if @timeline_tweets.any? %>
      <% @timeline_tweets.each do |t| %>
        <div class="timeline-tweet">
          <div class="timeline-tweet-meta"></div>

          <div class="timeline-tweet-header">
            <strong><%= t.author.username %></strong>
            @<%= t.author.username %> &bullet;
            <%= t.updated_at %>
          </div>

          <div class="timeline-tweet-content">
            <%= t.content %>
          </div>

          <div class="timeline-tweet-footer">
            <ul>
              <li><a href="#">reply</a></li>
              <li><a href="#">retweet</a></li>
              <li><a href="#">favorite</a></li>
              <% if t.author == current_user %>
                <li><%= link_to 'delete', t, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>It seems like there is nothing to display here :(</p>
    <% end %>
</div>
